/* COMMONS AND VARIABLES  */

:root {
    --header-color: #2C3E50;
    --jumbotron:#1ABC9C;
    --top-footer: #3A546D;
    --bot-footer: var(--header-color)
}

body {
    /* debug */
    /* background-color: #8f9396; */
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

/* ########################################################################################### */

/* HEADER SECTION  */

header {
    height: 70px;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--header-color);
    /* debug */
    /* border: 1px solid red; */
}

header > * {
    /* debug */
    /* border: 1px solid green; */
    height: 100%;
    
}

header .navbar-toggler{
    border-color: white;     
}

/* ############################################################################## */

/* JUMBOTRON SECTION */

.jumbotron {
    background-color: var(--jumbotron);
    width: 100%;
    margin-top: 70px;
    
    /* debug */
    /* color: white; */
    border: 1px solid black;
}

.jumbotron img {
    width: 40%;
    max-width: 300px;
}


.icon-w:before {
    content: "";
    display: inline-block;
    width: 15%;
    max-width: 100px;
    height: 4px;
    background-color: white;
    margin-right: 10px;
}

.icon-w:after {
    content: "";
    display: inline-block;
    width: 15%;
    max-width: 100px;
    height: 4px;
    background-color: white;
    margin-left: 10px;
}

.icon-b:before {
    content: "";
    display: inline-block;
    width: 15%;
    max-width: 100px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    margin-right: 10px;
}

.icon-b:after {
    content: "";
    display: inline-block;
    width: 15%;
    max-width: 100px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    margin-left: 10px;
}


/* ############################################################################ */

/* FIRST SECTION SKILL */

.portfolio {

    /* debug */
    /* background-color: #708b51; */
    /* margin-bottom: 20px; */
    /* border: 1px solid black; */
}

.portfolio  * {
    /* debug */
    /* border: 1px solid rgb(56, 11, 11); */
    /* background-color: aqua; */
}


/* ############################################################################### */

/* SECTION ABOUT */

.about{
    background-color: var(--jumbotron);
}
.about .text-center, .about .col-12{
    margin-bottom: 20px;

    /* debug */
    /* border: 1px solid rgb(9, 28, 134); */
}

/* -------------------------------------------------------------------------------------- */


/* CONTAINER FOOTER AND SECTION CONTACT SMALLER THAN CONTAINER-SM */

.ms_container {
    width: 60%;    
    margin: 0 auto;
    /* debug */
    /* border: 1px solid yellow; */
}

@media  screen and (width >= 768px) {
    .contact .container-fluid {
        width: 60%;
    }
    
}


/* FOOTER SECTION */
.footer-top{
    background-color: var(--top-footer);
}

p a {
    color: var(--jumbotron);
}

.footer-bot{
    background-color: var(--bot-footer);
}

