/* COMMONS AND VARIABLES  */

:root {
    --header-color: #2C3E50;
    --jumbotron:#1ABC9C;
    --top-footer: #3A546D;
    --bot-footer: var(--header-color)
}

body {
    /* debug */
    background-color: #8f9396;
}

/* ########################################################################################### */

/* HEADER SECTION  */

header {
    margin-bottom: 20px ;
    height: 70px;
    position: sticky;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--header-color);
    /* debug */
    border: 1px solid red;
}

header > * {
    /* debug */
    border: 1px solid green;
}

/* ############################################################################## */

/* JUMBOTRON SECTION */

.jumbotron {
    background-color: var(--jumbotron);

    /* debug */
    border: 1px solid black;
}

/* ############################################################################ */

/* FIRST SECTION SKILL */

.portfolio {
    background-color: #708b51;
    margin-bottom: 20px;
    /* debug */
    border: 1px solid black;
}

.portfolio  * {
    /* debug */
    border: 1px solid rgb(56, 11, 11);
    background-color: aqua;
}


/* ############################################################################### */

/* SECTION ABOUT */

.about{
    background-color: var(--jumbotron);
}
.about .text-center, .about .col-12{
    margin-bottom: 20px;

    /* debug */
    border: 1px solid rgb(9, 28, 134);
}

/* -------------------------------------------------------------------------------------- */


/* CONTAINER FOOTER AND SECTION CONTACT SMALLER THAN CONTAINER-SM */

.ms_container {
    width: 60%;    
    margin: 0 auto;
    /* debug */
    border: 1px solid yellow;
}



/* FOOTER SECTION */
.footer-top{
    background-color: var(--top-footer);
}

.footer-bot{
    background-color: var(--bot-footer);
}